.novedades {
    padding: 20px 0;
}

.novedades h3 {
    color: #ff3131;
    font-size: 22px;
    margin-top: 10px;
}

.novedades h4 {
    color: #333;
    font-size: 18px;
    margin: 5px 0;
}

.novedades p {
    font-size: 15px;
    line-height: 1.6;
    margin-bottom: 15px;
}

.novedades hr {
    border: none;
    border-top: 2px solid #ff914d;
    margin: 20px 0;
}
