@import url('https://fonts.googleapis.com/css2?family=Fontdiner+Swanky&family=Meddon&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Rubik+Glitch&display=swap');

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 15px;
    line-height: 20px;
}

header {
    background-color: #f19a5c;
    padding: 16px 0;
}

.carousel-item img {
    width: 100%;
    height: 400px;
    object-fit: contain;
    background-color: #000;
}


.homeimg {
    width: 100%;
    height: 400px;
    object-fit: cover;
}

header h1 {
    color: #ff3131;
    font-size: 45px;
    font-weight: 100;
    font-style: italic;
    display: inline-block;
    position: relative;
    bottom: 35px;
    margin-left: 15px;
}

nav {
    background-color: #ff914d;
    margin-bottom: 25px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    flex-grow: 1;
}

nav ul li a {
    color: black;
    text-decoration: none;
    padding: 5px 6px;
    display: block;
    text-align: center;
}

nav ul li a:hover {
    background-color: #ff3131;
}

nav ul li a.activo {
    background-color: #ffde59;
}

footer {
    background-color: #ff914d;
    clear: both;
    color: #ff3131;
    text-align: center;
    padding: 5px 0;
    margin-top: 20px;
}

/*inicio del home*/
.bienvenidos {
    width: 75%;
    padding-right: 10px;
    box-sizing: border-box;
    background-color: #ff914d;
}

.testimonios {
    width: 25%;
    background-color: #ffde59;
}

.columnas {
    display: flex;
    justify-content: space-between;
}

.bienvenidos p {
    font-size: 25px;
    font-style: italic;
    font-weight: 100;
}

.testimonios {
    background-color: #ffde59;
    padding: 15px;
}

.testimonios .cita {
    font-weight: bold;
    font-style: italic;
    font-size: 20px;
    display: block;
}

.testimonios .autor {
    font-size: 15px;
    text-align: center;
    background-color: #ffde59;
    display: block;
    margin: 10px 0;
}

/* fin de home*/

/*inicio de nosotros*/
.historia {
    background-color: #ff914d;
}

.historia h2 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: 75%;
    padding-right: 10px;
    box-sizing: border-box;
    background-color: #ff914d;
}

.historia p {
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}

.staff {
    display: block;

}

.staff h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #000;
}

.staff-cards {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
    padding: 20px 0;
}

.staff-cards .card {
    width: 300px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.15);
}

.card-img-top {
    width: 100%;
    height: 220px;
    object-fit: cover;
    object-position: center;
}


.persona {
    border: 1px solid;
    border-radius: 5px;
    width: 15%;
    text-align: center;
    padding: 15px;
    box-sizing: border-box;
    background-color: #ffde59;
}

.persona img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    display: block;
    margin: 0 auto;
}

.persona h5,
.persona h6 {
    margin: 0;
    font-weight: normal;
    color: #ff3131;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.persona p {
    color: black;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}

/*fin de nosotros*/
/*inicio recetas*/
.receta {
    border: 5px solid #ff3131;
    border-radius: 10px;
    padding: 15px;
    margin: 15px;
    display: flex;
    gap: 30px;
    align-items: center;
}

.receta img {
    width: 120px;
    height: 120px;
    object-fit: cover;
    display: block;
}

.receta:nth-child(even) {
    flex-direction: row-reverse;
}

/*fin de recetas*/
/*incio galeria*/
.galeria {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 10px;
}

.galeria img {
    width: 160px;
    height: 160px;
    object-fit: cover;
    border: 1px solid #ccc;
}

main.holder {
    max-width: 900px;
    margin: 0 auto;
}

/* fin de galeria*/
/*inicio de contacto*/
.contacto {
    display: flex;
    gap: 24px;
}

.contacto div {
    width: 100%;
}

.datos p {
    font-size: 15px;
}

.datos ul li {
    font-size: 14px;
}

.formulario p {
    display: flex;
    align-items: center; 
    margin-bottom: 12px; 
}

.formulario p label {
    min-width: 80px;
    display: flex;
    align-items: center;
}

.formulario input[type="text"],
.formulario input[type="email"],
.formulario input[type="tel"] {
    flex-grow: 1;
    background-color: white; 
    border: 1px solid #ccc; 
    padding: 8px; 
    outline: none; 
    border-radius: 4px; 
}

.formulario p:nth-child(4) {
    align-items: start;
}

.formulario textarea {
    resize: none;
    width: 100%;
    height: 200px;
    background-color: white; 
    border: 1px solid #ccc; 
    padding: 8px; 
    outline: none; 
    border-radius: 4px; 
}

.formulario input[type="submit"] {
    background: #f19a5c;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    color: rgb(255, 255, 255);
    font-size: 16px;
    padding: 6px 20px;
    width: auto;
    position: relative;
    left: 80px;
    cursor: pointer;
    border: none; 
    appearance: none;
    -webkit-appearance: none;
}

.formulario input[type="submit"]:hover {
    background-color: #ff3131;
}

/*fin de contacto*/